.code-snippet {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-x: auto;
}

.code-snippet pre {
  margin: 0;
}

.code-snippet code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
.code-content {
  position: relative;
}
.copy-button {
  position: absolute;
  right: 1%;
  top: 1%;
}
