* {
  /* border: 1px solid blue; */
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

.home-container {
  width: 90%;
  max-width: 1328px;
  margin: 0% auto;
}

.background-img {
  background-image: url("/home/ajay/Desktop/Real_Projects/portfolio_frontend/public/images/back-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: -61px 0 0 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 2;
}
.background-img-clr {
  background-color: rgba(0, 0, 0, 0.719);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -61px 0 0 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 2;
}
.background-img-div {
  text-align: center;
  color: white;
  font-size: 18px;
}
.profile-img {
  height: 135px;
  border-radius: 70px;
}
.center-items {
}
.background-img h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  font-size: 30px;
  margin: 10px 0;
}
.social-icons {
  font-size: 18px;
}
.social-icons-each {
  margin: 15px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.social-icons-each:hover {
  color: #ff4500;
  border: 1px solid #ff4500;
}
.two-btns-on-back-img {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #ff4500;
  height: 30px;
  width: 150px;
  padding: 5px;
  border: 1px solid #ff4500;
  margin: 0 20px;
  cursor: pointer;
}
.two-btns-on-back-img:hover {
  color: white;
  background-color: #ff4500;
}
/* ///////////////// ABOUT SECTION STARTED ////////////////////////// */
.about {
  text-align: center;
  margin: 20px 0;
}
.about h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
}
.skillful-tools {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-gap: 5%; */
}
.skillful-tools-name-per {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.skillful-tools-grey {
  height: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.61);
  margin: 10px 20px;
  overflow: hidden;
}
.skillful-tools-orange {
  height: 10px;
  border-radius: 10px;
  background-color: #ff4400b6;
}
/* ///////////////// SERVICES SECTION STARTED ////////////////////////// */
.services {
  text-align: center;
  margin: 20px 0;
}
.services h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
  overflow: hidden;
}
.cards-top {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 15px auto;
}
.services-card {
  height: 300px;
  width: 300px;
  margin: 15px auto;
  border-radius: 6px;
  padding: 10px;
  display: grid;
  grid-template-rows: 25% 15% 60%;
  /* box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178); */
  background-color: rgb(241, 241, 241);
  box-sizing: border-box;
}
.services-icon {
  margin: auto;
  color: #ff4500;
  font-size: 30px;
  border: 2px solid #ff4500;
  border-radius: 10px;
  padding: 5px;
}
.services-card p {
  font-size: 15px;
}
/* ///////////////// SNAPSHOTS SECTION STARTED ////////////////////////// */
.snapshots {
  text-align: center;
  margin: 20px 0;
}
.snapshots h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
}
.gallary {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px;
}
.gallary-inside {
  height: 220px;
  margin: 15px;
  position: relative;
  padding: 0%;
  background-color: none;
}
.gallary-inside02 {
  background-color: rgba(0, 0, 0, 0.541);
}
.gallary img {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.img-description {
  position: absolute;
  border: 4px solid green;
  margin: 15px auto;
  height: 40px;
  width: 100px;
  padding: 5px;
  top: 250px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.301);
  cursor: pointer;
  box-sizing: border-box;
}
.img-description.expanded {
  height: 300px;
  top: 0%;
  white-space: normal;
  overflow-y: scroll;
}
.more {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.more:hover {
  text-decoration: underline;
}

.view-img-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%; /* Set initial right position outside the viewport */
  font-size: 35px;
  cursor: pointer;
  color: white;
}
.view-img-icon02 {
  display: inline;
  animation: arriveFromRight 0.5s ease-in-out forwards;
}
.view-img-icon:hover {
  color: #ff4500;
}

.fav-img-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%; /* Set initial left position outside the viewport */
  font-size: 35px;
  cursor: pointer;
  color: white;
}
.fav-img-icon02 {
  display: inline;
  animation: arriveFromLeft 0.5s ease-in-out forwards;
}
.fav-img-icon:hover {
  color: #ff4500;
}
@keyframes arriveFromRight {
  0% {
    right: 0%;
  }
  100% {
    right: 28%;
  }
}

@keyframes arriveFromLeft {
  0% {
    left: 0%;
  }
  100% {
    left: 28%;
  }
}
/* ////////////////////////   TESTEMONIALS   ///////////////////////// */
.testemonial-cards {
  width: 1100px;
  margin: auto;
  overflow: hidden;
}
.testemonial-cards02 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  height: 233px;
  overflow: scroll;
  padding: 0%;
  transition: all 0.3s;
}
.testemonial-card {
  margin: auto 10px;
  padding: 4px;
  height: 180px;
  width: 530px;

  background-color: rgb(241, 241, 241);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 30% 70%;
  overflow: hidden;
  box-sizing: border-box;
}
.testemonial-card-profile {
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 4px;
}
.testemonial-card-namedescrip {
  display: grid;
  grid-template-rows: 30% 70%;
  margin-left: 10px;
}
.testemonial-card-name {
  margin: auto auto auto 0;

  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
  font-size: 19px;
}
.testemonial-card-descrip {
  font-size: 15px;
  text-align: left;
}
.testemonial-btn {
  font-size: 18px;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  border-radius: 30px;
  color: #ff4500;
  height: 30px;
  width: 150px;
  padding: 5px;
  border: 1px solid #ff4500;
  margin: 0 10px;
  cursor: pointer;
  background-color: white;
}
.testemonial-btn:hover {
  color: white;
  background-color: #ff4500;
}
