.logo {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  font-size: 30px;
  color: #ff4500;
  margin: 30px auto 30px 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 90%;
  position: sticky;
  margin: 0 auto 0 auto;
  top: 0%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 1;
  /* border: 1px solid green; */
}

.active {
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin: 30px 20px;
}
