/* ///////////////// SNAPSHOTS SECTION STARTED ////////////////////////// */
.snapshots {
  text-align: center;
  margin: 20px 0;
}
.snapshots h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
}
.gallary {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px;
}
.gallary-inside {
  height: 220px;
  margin: 15px;
  position: relative;
  padding: 0%;
  overflow: hidden;
  background-color: none;
}
.gallary-inside02 {
  background-color: rgba(0, 0, 0, 0.541);
}
/* ////////////////////////////////////////// FOR FAVOUTITES SAVED PROJECTS  */
.my-fav-top {
  text-align: center;
  width: 20%;
  /* width: 220px; */
  height: 89.4vh;
  position: fixed;
  top: 62px;
  right: 0.2%;
  display: none;
  z-index: 1;
}
.my-fav-top02 {
  display: block;
}
.snapshots-fav {
  text-align: center;
  margin: 20px 0;
  /* width: 20%; affected by motion.div */
  width: 100%;
  height: 89.4vh;
  background-color: rgb(241, 241, 241);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  position: fixed;
  /* top: 44px;  affected by motion.div */
  top: -3%;
  right: 0.2%;
  overflow: scroll;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.178);
  z-index: 1;
}
.close-fav {
  position: absolute;
  left: -12%;
  top: 2%;
  font-size: 25px;
  color: #ff4500;
  cursor: pointer;
}
.snapshots-fav h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
  font-size: 20px;
  margin-top: 12px;
}
.gallary-fav {
  display: grid;
  grid-template-columns: auto;
  margin: 0px;
}
.gallary-inside-fav {
  height: 220px;
  margin: 12px 20px;
  position: relative;
  padding: 0%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  background-color: none;
}
.gallary-inside02-fav {
  background-color: rgba(0, 0, 0, 0.541);
}
.gallary-fav img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1250px) {
  .my-fav-top {
    width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .my-fav-top {
    width: 25%;
  }
}
/* @media screen and (max-width: 1100px) {
  .my-fav-top {
    width: 35%;
  }
} */
@media screen and (max-width: 1000px) {
  .my-fav-top {
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .my-fav-top {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  .my-fav-top {
    width: 40%;
  }
}
@media screen and (max-width: 650px) {
  .my-fav-top {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .my-fav-top {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .my-fav-top {
    width: 55%;
  }
}
@media screen and (max-width: 450px) {
  .my-fav-top {
    width: 65%;
  }
}
@media screen and (max-width: 400px) {
  .my-fav-top {
    width: 80%;
  }
}
/* //////////////////////// SAVED SNAPSHOTS OF PROJECTS COMPLETED  */
.gallary img {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.img-description {
  position: absolute;
  border: 4px solid green;
  margin: 15px auto;
  height: 40px;
  width: 100px;
  padding: 5px;
  top: 250px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.301);
  cursor: pointer;
  box-sizing: border-box;
}
.img-description.expanded {
  height: 300px;
  top: 0%;
  white-space: normal;
  overflow-y: scroll;
}
.more {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.more:hover {
  text-decoration: underline;
}

.view-img-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%; /* Set initial right position outside the viewport */
  font-size: 35px;
  cursor: pointer;
  color: white;
}
.view-img-icon02 {
  display: inline;
  animation: arriveFromRight 0.5s ease-in-out forwards;
}
.view-img-icon:hover {
  color: #ff4500;
}
.fav-img-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%; /* Set initial left position outside the viewport */
  font-size: 35px;
  cursor: pointer;
  color: white;
}
.fav-img-icon02 {
  display: inline;
  animation: arriveFromLeft 0.5s ease-in-out forwards;
}
.fav-img-icon:hover {
  color: #ff4500;
}
.img-des {
  display: none;
  position: absolute;
  bottom: 0%; /* Set initial bottom position outside the viewport */
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  font-size: 20px;
  color: white;
}
.img-des02 {
  display: inline;
  animation: arriveFromBottom 0.5s ease-in-out forwards;
}

@keyframes arriveFromRight {
  0% {
    right: 0%;
  }
  100% {
    right: 28%;
  }
}
@keyframes arriveFromLeft {
  0% {
    left: 0%;
  }
  100% {
    left: 28%;
  }
}
@keyframes arriveFromBottom {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 15%;
  }
}
/* //////////////////// */
.Gallary {
  column-count: 6;
  column-width: 0.06%;
  column-gap: 2px;
  padding: 0%;
  height: 1000px;
  overflow: scroll;
  margin: auto;
  border: 8px solid #013737;
}
.pics {
  border: 3px solid #fe4200;
  margin: 1px 1px;
  padding: 0%;
  height: fit-content;
  overflow: hidden;
}
.pics:hover {
  cursor: pointer;
  opacity: 0.9;
}
.pics img {
  height: fit-content;
}
.pics img:hover {
  transform: scale(1.1);
}
.carousel {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: opacity 0.4s ease, visibility 0.4s ease;
  background-color: black;
  z-index: 2;
}
.carousel.open {
  visibility: visible;
  opacity: 1;
}
.closeCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe440094;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 50px;
  padding: 20px;
}
.closeCarousel:hover {
  color: #ff4500;
  background-color: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.slidingCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fe440094;
  font-size: 30px;
  margin: 0 100px;
  border-radius: 50px;
  padding: 20px;
  position: absolute;
  z-index: 8;
}
.slidingCarouselClose {
  display: none;
}
.slidingCarousel:hover {
  color: #ff4500;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
}
.carousel img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

@media screen and (max-width: 955px) {
  .slidingCarousel {
    font-size: 25px;
    margin: 0 50px;
    padding: 20px;
  }
  .closeCarousel {
    font-size: 35px;
    padding: 20px;
  }
  .view-img-icon {
    font-size: 32px;
  }
  .fav-img-icon {
    font-size: 32px;
  }
  .img-des {
    font-size: 18px;
  }
}
@media screen and (max-width: 830px) {
  .slidingCarousel {
    font-size: 20px;
    margin: 0 40px;
    padding: 20px;
  }
  .closeCarousel {
    font-size: 30px;
    padding: 20px;
  }
  .img-des {
    font-size: 16px;
  }
}
/* RESPONSIVENESS FOR PROJECTS SNAPS NOT FOR SAVED SNAPS  */
@media screen and (max-width: 870px) {
  .gallary {
    grid-template-columns: auto auto auto;
    margin: 0px;
  }
  .gallary-inside {
    height: 200px;
    margin: 10px;
  }
}
@media screen and (max-width: 770px) {
  .gallary {
    grid-template-columns: auto auto auto;
    margin: 0px;
  }
  .gallary-inside {
    height: 150px;
    margin: 8px;
  }
  .view-img-icon {
    font-size: 30px;
  }
  .fav-img-icon {
    font-size: 30px;
  }
  .img-des {
    font-size: 13px;
  }
}
@media screen and (max-width: 670px) {
  .gallary {
    grid-template-columns: auto auto auto;
    margin: 0px;
  }
  .gallary-inside {
    height: 110px;
    margin: 7px;
  }
  .view-img-icon {
    font-size: 28px;
  }
  .fav-img-icon {
    font-size: 28px;
  }
  .img-des {
    font-size: 12px;
  }
}
@media screen and (max-width: 455px) {
  .gallary {
    grid-template-columns: auto auto;
    margin: 0px;
  }
  .gallary-inside {
    height: 120px;
    margin: 8px;
  }
  .img-des {
    font-size: 12px;
  }
}
